<div class="widget-body">
    <div class="row">
        <div class="col-md-2 pull-right">
            <!--Sidebar content-->
            <div class="input-group search">
                <input ng-model="query" placeholder="Search" type="text" class="form-control">
                <select ng-model="orderProp">
                    <option value="title">Alphabetical</option>
                    <option value="-id">Newest</option>
                    <option value="globalRank">Stack Rank</option>
                    <option value="-upvotes">Votes</option>
                </select>
            </div>
        </div>
    </div>
    <div class="widget-main no-padding">
        <div class="dialogs backlog-item-scroll" id="sortable">
            <div class="scroll-content" ng-repeat="pbi in productBacklogItems | filter:query | orderBy:orderProp">
                <div class="itemdiv dialogdiv backlog-item" id="{{pbi.id}}">
                    <div class="user">
                        <img alt="{{pbi.owner.name}} Avatar" src="{{pbi.owner.avatar}}">
                    </div>
                    <div class="body color-{{pbi.id % 19}}">
                        <div class="time">
                            <button ng-click="upvote()" class=" btn btn-xs btn-default"><span class="glyphicon glyphicon-arrow-up"></span>{{pbi.upvotes}}</button>
                        </div>
                        <div class="name">
                            <a href="#">{{pbi.owner.name}}</a>
                        </div>
                        <div class="text">
                            As a <span class="discipline">{{pbi.discipline}}</span>, I can <span class="action">{{pbi.action}}</span>, so that <span class="goal">{{pbi.goal}}</span>.
                        </div>

                        <div class="date-created">
                            <span>{{'1288323623006' | date:"MM/dd/yyyy"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.widget-main -->
</div>

<script>
    $(document).ready(function () {
        $("#sortable").sortable({
            stop: function (event, ui) {
                debugger;
                var item = $($(ui.item).find(".backlog-item"));
                alert("to do: re arrange ranking, post?  [" + item.attr("id") + "]");
            }
        });
    });
</script>
