.widget-body {
    background-color: #FFF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.no-padding {
    padding: 0 !important;
}

body {
    min-height: 100%;
    padding-bottom: 0;
    font-family: Segoe UI;
    font-size: 13px;
    color: #393939;
    line-height: 1.5;
}

.dialogs {
    padding: 9px;
    position: relative;
}

.backlog-item-scroll {
    overflow: visible;
}

.scroll-content {
    position: static;
    overflow: hidden;
}

.itemdiv.dialogdiv {
    padding-bottom: 14px;
}

.itemdiv {
    padding-right: 3px;
    min-height: 66px;
    position: relative;
}

    .itemdiv.dialogdiv:before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        bottom: 0;
        left: 19px;
        width: 3px;
        max-width: 3px;
        background-color: #E1E6ED;
        border: 1px solid #D7DBDD;
        border-width: 0 1px;
    }

    .itemdiv > .user {
        display: inline-block;
        width: 42px;
        position: absolute;
        left: 0;
    }

    .itemdiv.dialogdiv > .body {
        border-top: 1px solid #DDE4ED;
        border-bottom: 1px solid #DDE4ED;
        border-left: 1px solid #DDE4ED;
        padding: 5px 8px 8px;
        border-left-width: 2px;
        margin-right: 1px;
        border-radius: 5px;
        background-color: #fff;
    }

    .itemdiv > .body {
        width: auto;
        margin-left: 50px;
        margin-right: 12px;
        position: relative;
    }

    .itemdiv.dialogdiv > .body:before {
        content: "";
        display: block;
        position: absolute;
        left: -7px;
        top: 11px;
        width: 8px;
        height: 8px;
        border: 2px solid #DDE4ED;
        border-width: 2px 0 0 2px;
        background-color: #FFF;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .itemdiv.dialogdiv > .body > .time {
        position: static;
        float: right;
    }

    .itemdiv > .body > .time {
        display: block;
        font-size: 11px;
        font-weight: 700;
        color: #666;
        position: absolute;
        right: 9px;
        top: 0;
    }

    .itemdiv > .body > .name {
        display: block;
        color: #999;
    }

    .itemdiv > .body > .name {
        display: block;
        color: #999;
    }

    .itemdiv > .body > .text:after {
        display: block;
        content: "";
        height: 1px;
        font-size: 0;
        overflow: hidden;
        position: absolute;
        left: 16px;
        right: -12px;
        margin-top: 9px;
        border-top: 1px solid #E4ECF3;
    }

    .itemdiv.dialogdiv > .body > .text:after {
        display: none;
    }

    .itemdiv.dialogdiv > .body > .text {
        padding-left: 0;
        padding-bottom: 0;
    }

    .itemdiv > .body > .text {
        display: block;
        position: relative;
        margin-top: 2px;
        padding-bottom: 19px;
        padding-left: 7px;
        font-size: 13px;
    }

.navbar {
    border: none;
    border-radius: 0px;
}

.itemdiv .body .date-created {
    bottom: 4px;
}

.itemdiv .date-created {
    position: absolute;
    right: 5px;
    bottom: 10px;
    font-size: smaller;
    color: #ccc;
}

.itemdiv.dialogdiv > .user > img {
    border-color: #C9D6E5;
}

.itemdiv > .user > img, .itemdiv > .user > .img {
    border-radius: 100%;
    border: 2px solid #5293C4;
    max-width: 40px;
    position: relative;
}

.navbar {
    background-color: #23b7e5;
    border-color: #e7e7e7;
    color: #fff;
}

    .navbar .navbar-brand, .navbar .navbar-nav > li > a, .navbar-inverse .navbar-text {
        color: #fff;
    }

.nav.navbar-nav.navbar-right {
    margin-right: 0px;
}

.nav-user-photo {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid #FFF;
    max-width: 40px;
    margin-top: 12px;
}

.color-0 {
    border-right: 5px solid #F39C12;
}

.color-1 {
    border-right: 5px solid #1abc9c;
}

.color-2 {
    border-right: 5px solid #EF4836;
}

.color-3 {
    border-right: 5px solid #F4D03F;
}

.color-4 {
    border-right: 5px solid #9b59b6;
}

.color-5 {
    border-right: 5px solid #34495e;
}

.color-6 {
    border-right: 5px solid #F9BF3B;
}

.color-7 {
    border-right: 5px solid #BE90D4;
}

.color-8 {
    border-right: 5px solid #F5D76E;
}

.color-9 {
    border-right: 5px solid #8e44ad;
}

.color-10 {
    border-right: 5px solid #F62459;
}

.color-11 {
    border-right: 5px solid #16a085;
}

.color-12 {
    border-right: 5px solid #27ae60;
}

.color-13 {
    border-right: 5px solid #2980b9;
}

.color-14 {
    border-right: 5px solid #8e44ad;
}

.color-15 {
    border-right: 5px solid #2c3e50;
}

.color-16 {
    border-right: 5px solid #16a085;
}

.color-17 {
    border-right: 5px solid #27ae60;
}

.color-18 {
    border-right: 5px solid #2980b9;
}

.color-19 {
    border-right: 5px solid #2c3e50;
}

span.discipline, span.action, span.goal {
    font-weight: bold;
    font-style: italic;
}

.search input {
    margin-right: 2px;
    width: 48% !important;
    height: 28px !important;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px !important;
    font-size: 13px;
    line-height: 1.3;
    color: #666 !important;
    z-index: 11;
    -webkit-transition: width ease .15s;
    -o-transition: width ease .15s;
    transition: width ease .15s;
}

select {
    display: block;
    width: 48%;
    height: 28px;
    padding: 2px 2px;
    font-size: 13px;
    line-height: 1.3;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.as-sortable-item, .as-sortable-placeholder {
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    border-radius: 10px;
}

.as-sortable-item {
    border: solid 1px darkgrey;
    background-color: #ffffff;
}

.as-sortable-item-handle {
}

.as-sortable-placeholder {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.as-sortable-drag {
    opacity: .8;
}

.as-sortable-hidden {
}

.new-backlog-item-fields input {
    padding: 5px 5px 1px 5px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    font-weight: bold;
}
