<!--<div data-ui-sortable-item-handle>-->
<div class="user">
    <img alt="{{pbi.owner.name}} Avatar" data-ng-src="{{pbi.owner.avatar}}" data-no-drag>
</div>
<div class="body color-{{pbi.id % 19}}">
    <div class="time">
        <button ng-click="upvote(pbi)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-arrow-up"></span>{{pbi.upvotes}}</button>
    </div>
    <div class="name">
        <a href="#">{{pbi.owner.name}}</a>
    </div>
    <div class="text">
        As a <span class="discipline">{{pbi.discipline}}</span>, I can <span class="action">{{pbi.action}}</span>, so that <span class="goal">{{pbi.goal}}</span>.
    </div>

    <div class="date-created">
        <span>{{pbi.createdDate | date:"MM/dd/yyyy"}}</span>
    </div>
</div>
<!--</div>-->