<form ng-submit="addNewStory()" id="NewStoryForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title" ng-model="columnName">Add product backlog item</h4>
    </div>
    <div class="modal-body">
        <div class="form-group new-backlog-item-fields">
            <div>
                As a
                <input type="text" placeholder="type of user" ng-model="discipline" required focus-me class="form-control" />,
                I can <input type="text" placeholder="accomplish this goal" ng-model="action" required class="form-control" />
                so that <input type="text" placeholder="some reason" ng-model="goal" required class="form-control" />.
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>