<!--<div data-ui-sortable-item-handle>-->
<div class="user">
    <img alt="{{pbi.owner.name}} Avatar" data-ng-src="{{pbi.owner.avatar}}" data-no-drag>
</div>
<div class="body" style="border-right:5px solid {{pbi.project.color}}">
    <div class="time">
        <div ng-click="upvote(pbi)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-arrow-up"></span>{{pbi.upvotes}}</div>
    </div>
    <div class="name">
        <span class="user-name">
            <a class="user-name user-profile-link" title="{{pbi.owner.name}} (@{{pbi.owner.username}})">{{pbi.owner.name}}</a>
            <span class="user-screen-name">@{{pbi.owner.username}}</span>
        </span>
    </div>
    <div class="text">
        As a <span class="discipline">{{pbi.discipline}}</span>, I can <span class="action">{{pbi.action}}</span>, so that <span class="goal">{{pbi.goal}}</span>.
    </div>

    <div class="date-created">
        <span>{{pbi.createdDate | date:"MM/dd/yyyy"}}</span>
    </div>
</div>
<!--</div>-->